#margin {

}

#main {
  background-color: #454545;
}

#title {
  background-color: #00ff99;
  font-style: italic;
  font-family: Arial;
  font-stretch: ultra-expanded;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  padding: 0px 7px;
  border-radius: 25px;
  margin-top: 2px;
}

#body {
margin: 0px;
}

#refresh {
  background-color: #333333;
  font-style: italic;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #00ff99;
  text-transform: lowercase;
  margin: 5px;
  width: 1in;
  border-radius: 25px;
  border-width: 0px
}

#TheHead {
  display: flex;
  align-items: center;
}

#testdiv {
  background-color: #333333;
  color: #00ff99;
  font-style: italic;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #00ff99;
  text-transform: lowercase;
  margin: 5px;
  padding: 0px 5px;
  border-radius: 25px;
  border-width: 2px;
  border-color: #ffffff;
}

#testarea {
  display: flex;
  align-items: center;
  justify-content: center;
}

#testbutton {
  background-color: #333333;
  font-style: italic;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #00ff99;
  text-transform: lowercase;
  margin: 5px;
  border-radius: 25px;
  border-width: 0px;
}

#tictactoeboard {
  display: grid;
  margin: 25px;
}

#tictactoerow {
  display: grid;
  grid-auto-flow: column;
  margin: 0px;
}

.tictactoecell {
  width: 100px;
  height: 100px;
  background-color: #333333;
  margin: 5px;
  border-width: 0px;
  border-radius: 25px;
  font-size: 72px;
  font-family: Arial;
  font-weight: bold;
}

#tictactoeplayed {
  width: 100%;
  height: 100%;
}

#tictactoereset {
  display: grid;
  grid-auto-flow: column;
  margin: 25px 0px;
  width: 2in;
  border-width: 0px;
  border-radius: 25px;
  background-color: #00ff99;
  color: #000000;
  font-family: Arial;
  font-style: italic;
  font-size: 60px;
  padding: 8px, 4px;
}
